{% extends "landing/base.html" %} {% load static %} {% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<ul class="container" id="msg-output" style="overflow: scroll; height: 400px">
<script type="text/javascript" src="{% static "js/chatRead.js" %}?version=2"></script>
<link href="{% static "css/chatStyles.css" %}" rel="stylesheet" type="text/css">
  <ul
    id="msgs"
    class="chat"
    style="list-style-type: none; margin-left: 0px; margin-right: 0px"
  >
    {% for msg in msgs %} {% if msg.author == request.user %} {% if msg.read %}

    <li id="{{msg.id}}" data-time="{{message.created_on}}" class="msg sent">
      {{msg.author}}: {{msg.message}} ☑️
    </li>

    {% else %}
    <li id="{{msg.id}}" data-time="{{message.created_on}}" class="msg sent">
      {{msg.author}}: {{msg.message}} ✅
    </li>

    {% endif %} {% else %}

    {%if msg.read %}
    
    <li id="{{msg.id}}" data-time="{{message.created_on}}" class="msg rcvd">
      {{msg.author}}: {{msg.message}}
    </li>

    {% else %}

    <li id="{{msg.id}}" data-time="{{message.created_on}}" class="msg rcvd">
      {{msg.author}}: {{msg.message}}
    </li>

    <script>
      msgRead("{{msg.id}}","{{msg.message}}", "{{msg.author}}");
      
    </script>

    {% endif %}{% endif %} {% endfor %} {% comment %} {% for msg in msgs %} {% if msg.read
    == False %% msg.author !== request.user %}

    <li id="{{msg.id}}">{{msg.author}}: {{msg.message}}</li>

    {%else%} {% if msg.read == False %}

    <li id="{{msg.id}}">
      {{msg.author}}: {{msg.message}} <i class="fa-solid fa-check"></i>
    </li>

    {% else %}

    <li id="{{msg.id}}">
      {{msg.author}}: {{msg.message}} <i class="fa-solid fa-check"></i
      ><i class="fa-solid fa-check"></i>
    </li>
    {%endif%} {% endif %} {% endfor %} {% endcomment %}
    <li class="msg rcvd">
      {{status}}
    </li>
  </ul>
<div class="container">
  <p style="" id="typ"></p>
  <form method="post" id="msg-form" style="">
    {% csrf_token %}
    <input
      type="text"
      name=""
      value=""
      id="msg-input"
      onkeypress="typing()"
    /><br />
    <button type="submit" name="button" class="btn btn-success" id="msg-submit" onload="online()" >
      Send
    </button>
  </form>
</div>
<script type="text/javascript" src="{% static "js/chat.js" %}?version=12"></script>
{% endblock %}
