<div class="dropdown">
  <span class="badge bg-primary notification-badge" style="transition: 0.3s;" onclick="showNotification()">{{notifications.count}}</span>
  <div class="dropdown-content d-none container" id='notification-container'>
    {% for notification in notifications %}
      {% if notification.post %}
        {% if notification.notification_type == 1 %}
        <div class="dropdown-item-parent">
          <a href="{% url 'post_notifcation' notification.pk notification.post.pk%}">@{{notification.from_user}} liked your post</a>
          <a href="{% url 'notification_remove' notification.pk%}" onclick="removeNotification(`{% url 'notification_remove' notification.pk %}`, `{{ request.path }}`)"><span class='dropdown-item-close' onclick="">&times;</span></a>
        </div>
        {% elif notification.notification_type == 2 %}
        <div class="dropdown-item-parent">
          <a href="{% url 'post_notifcation' notification.pk notification.post.pk%}">@{{notification.from_user}} commented on your post</a>
          <a href="{% url 'notification_remove' notification.pk%}" onclick="removeNotification(`{% url 'notification_remove' notification.pk %}`, `{{ request.path }}`)"><span class='dropdown-item-close' onclick="">&times;</span></a>
        </div>
      {% endif %}
    {% elif notification.comment %}
      {% if notification.notification_type == 1 %}
      <div class=" dropdown-item-parent">
        <a href="{% url 'post_notifcation' notification.pk notification.comment.post.pk%}">@{{notification.from_user}} liked your comment</a>
        <a href="{% url 'notification_remove' notification.pk%}" onclick="removeNotification(`{% url 'notification_remove' notification.pk %}`, `{{ request.path }}`)"><span class='dropdown-item-close' onclick="">&times;</span></a>

      </div>
      {%endif%}
    {%elif notification.type == 4%}
      {% if notification.to_user != request.user %}
      <div class="dropdown-item-parent">
        <a href="{% url 'chat' notification.chat.pk%}">Message from @{{notification.from_user}}</a>
        <a class="" href="{% url 'notification_remove' notification.pk%}" onclick="removeNotification(`{% url 'notification_remove' notification.pk %}`, `{{ request.path }}`)"><span class='dropdown-item-close' onclick="">&times;</span></a>
      </div>
      {% endif %}
    {% else %}
    <div class=" dropdown-item-parent">
      <a href="{% url 'follow_notification' notification.pk notification.from_user.profile.pk%}">@{{notification.from_user}} has started following you</a>
      <a href="{% url 'notification_remove' notification.pk%}" onclick="removeNotification(`{% url 'notification_remove' notification.pk %}`, `{{ request.path }}`)"><span class='dropdown-item-close' onclick="">&times;</span></a>
    </div>
    {%endif%}
  {% endfor %}
    </div>
  </div>
